<div class="col-md-4 col-md-offset-4">
  <div class="new-article">
    <%= bootstrap_form_for @article do |f| %>
      <%= f.text_field :title, label: "Who said it?", placeholder: 'Beyonce', maxlength: 30, required: true, help: "30 characters maximum" %>
      <%= f.text_area :content, placeholder: 'Who run the world? Girls.', maxlength: 120, required: true, help: "120 characters maximum, about a tweet's length" %>
      <%= f.hidden_field :content_type, :value => "quote" %>
      <br>
      <div class="text-center">
      <%= render "layouts/form_buttons_large" %>
    <% end %>
      </div>
  </div>
</div>
