<div class = "col-xs-12 text-center">
  <div class = "col-xs-4">
    <i class="fa fa-video-camera fa-5x" aria-hidden="true"> Video</i>
  </div>
  <div class = "col-xs-4">
    <i class="fa fa-camera-retro fa-5x" aria-hidden="true"> Photo</i>
</div>
  <div class = "col-xs-4">
  <i class="fa fa-pencil-square fa-5x" aria-hidden="true"> Quote</i>
</div>
</div>


<div class = "col-md-4 col-md-offset-4">
  <div class = "NewArticle">
    <%= bootstrap_form_for @article do |f| %>
      <%= f.text_field :title, placeholder: 'Title' %>
      <%= f.text_area :content, placeholder: 'Content' %>
      <%= f.text_field :content_type, placeholder: 'image' %>
      <%= f.uploadcare_uploader :content, :data => {:images_only => true, :image_shrink => "1000x1000", :clearable => true }%>
      <br><br>
      <div class = "EditButton">
        <%= f.submit @article.new_record? ? "Create Post" : "Update Post"%>
      </div>
    <% end %>
    <div class = "CancelButton">
      <%= button_to "Cancel", :back, method: :get, :class=>"ruby-link btn btn-info btn-default btn-md inline" %>
    </div>
    <br><br>
  </div>
</div>
