<div class = "col-md-4 col-md-offset-4">
  <div class = "NewArticle">
    <%= bootstrap_form_for @article do |f| %>
      <%= f.text_field :title, placeholder: 'Title' %>
      <%= f.text_area :content, placeholder: 'Content' %>
      <%= f.collection_select :muni_id, Muni.order(:name),:id,:name, style: 'width: 100%;'%><br>
      <%= f.uploadcare_uploader :image, :data => {:images_only => true, :image_shrink => "1000x1000", :clearable => true }%>
      <br><br>
      <div class = "EditButton">
        <%= f.submit @article.new_record? ? "Create Post" : "Update Post"%>
      </div>
    <% end %>
    <div class = "CancelButton">
      <%= button_to "Cancel", :back, method: :get, :class=>"ruby-link btn btn-info btn-default btn-md inline" %>
    </div>
    <br><br>
  </div>
</div>
