<%= render :partial => "layouts/flash_messages"%>
<div class="col-xs-12" >
  <div class="owl-carousel owl-theme" style="width: 1px; min-width: 100%;">
    <% if current_user == nil %>
      <div class="newusertext text-center">
        <h1 class="text-center splash-title">Ok To Be Sad</h1>
        <h2 class="text-center splash-title2">A Community When You Need It The Most</h2>
        <button class="btn"><%= link_to "Log In", new_session_path %></button>
      </div>
    <% else %>
      <% if @articles %>
        <% @articles.each do |article| %>
          <% if article.content_type == "image" %>
            <div class="text-center"> <img class = "img-responsive" style="max-height:60vh; width:auto;" src="<%= article.content %>"> <h1><%= article.title %></div>
          <% end %>
          <% if article.content_type == "video" %>
            <div class="item-video" style="height:60vh"><a class="owl-video" href="<%= article.content %>"></a></div>
          <% end %>
          <% if article.content_type == "song" %>
            <iframe src="https://embed.spotify.com/?uri=spotify:track:<%= article.content[-22..-1] %>&view=coverart" width="200" height="380" frameborder="0" allowtransparency="true"></iframe>
          <% end %>
          <% if article.content_type == "quote" %>
            <div style="height:60vh">
              <div style="height:60vh">
                <p class = "quote-title"><%= article.content %></p>
                <p class = "quote-title">-<%= article.title %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
