<%= render :partial => "layouts/flash_messages" %>
<!-- show cog only if user owns the account -->
<% if current_user != nil && current_user.id==@user.id %>
  <div class="drop-down-profile">
    <div class="show-mobile">
      <div id="cog" class="glyphy-cog fa-cog fa fa-3x"></div>
    </div>
    <div class="dropdown-content">
      <br>
      <%= link_to "Profile Settings", edit_user_path(current_user) %>
      <br><br>
      <%= link_to "Log Out", logout_path %>
      <br><br>
    </div>
  </div>
<% end %>

<!-- user information -->
<div class="profile-photo">
  <img src="<%= @user.image%>" class="product_img img-responsive img-circle">
</div>
<h2><%= @user.first_name %>
  <%= @user.last_name %>'s Profile Page
</h2>
<h4>Date Joined:
  <%= @user.created_at.localtime.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %>
</h4>
<div class="show-mobile text-center">
  <i class="fa fa-angle-double-down bounce animated scroll-down fa-5x" aria-hidden="true"></i>
</div>

<!-- iterates over all user's articles using content type as a templating guide -->
  <% @articles.each do |article| %>
  <div class="index-container col-xs-12 container-fluid well">

      <% if @user.articles.distinct.count < 1 || nil %>
        <p>What makes you happy?</p>
        <p><%= link_to "Click here", new_article_path %> to share now!</p>
      <% end %>

      <% if article.content_type=="image" %>
        <div class="text-center">
          <img class="img-responsive" style="max-height:60vh; width:auto;" src="<%= article.content %>">
          <h1><%= article.title %></h1>
        </div>
      <% end %>

      <% if article.content_type=="video" %>
        <div class="embed-container">
          <iframe class="ytplayer" type="text/html"
            src="https://www.youtube.com/embed/<%= youtube_embed(article.content) %>"
            frameborder="0">
          </iframe>
        </div>
      <% end %>

      <% if article.content_type=="song" %>
        <div style="height: 25vh;">
          <div style="text-align:center; width:100%; height:25vh;">
            <iframe class ="vertically-align-force" src="https://embed.spotify.com/?uri=spotify:track:<%= article.content[-22..-1] %>" width="300" height="80" frameborder="0" aligb="middle" allowtransparency="true"></iframe>
          </div>
        </div>
      <% end %>

      <% if article.content_type=="quote" %>
        <div>
          <p class="quote-title"><%= article.content %></p>
          <p class="quote-title">-<%= article.title %></p>
        </div>
      <% end %>

      <!-- shows edit buttons only if user owns them -->
      <% if current_user != nil && current_user.id==article.user.id %>
        <div class="buttonrow">
          <%= link_to edit_article_path(article), class: "btn btn-info btn-primary" do %>
            <i class="fa fa-pencil-square-o fa-4x" aria-hidden="true"></i>
          <% end %>
          <span style="margin-right:30px;"></span>
          <button class="btn btn-info btn-danger delete-button-collapse" type="button" data-toggle="collapse" data-target="#delete<%= article.id %>" aria-hidden="true">
            <i class="fa fa-trash-o fa-4x" aria-hidden="true"></i>
          </button>
        </div>
        <br>
          <div class="row">
            <div class="collapse" id="delete<%= article.id %>"><a> <br>
              <div class="well col-xs-8 col-xs-offset-2">
                <h4 class="inline"> Are you sure you want to delete your article? </h4>
                <div class="buttonrow">
                  <button class="btn btn-info btn-info" type="button" data-toggle="collapse" data-target="#delete<%= article.id %>" aria-hidden="true" aria-controls="collapseExample">
                    <i class="fa fa-reply fa-3x" aria-hidden="true"></i>
                  </button>
                  <span style="margin-right:30px;"></span>
                  <%= link_to destroy_article_path(article), method: :delete, class: "btn btn-danger btn-primary" do %>
                    <i class="fa fa-trash-o fa-3x" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="spacer">`
</div>
