<p id="notice"><%= notice %></p>

<h1>Listing Uplifts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uplifts.each do |uplift| %>
      <tr>
        <td><%= uplift.title %></td>
        <td><%= uplift.url %></td>
        <td><%= link_to 'Show', uplift %></td>
        <td><%= link_to 'Edit', edit_uplift_path(uplift) %></td>
        <td><%= link_to 'Destroy', uplift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uplift', new_uplift_path %>
