<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @uplift.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @uplift.url %>
</p>

<%= link_to 'Edit', edit_uplift_path(@uplift) %> |
<%= link_to 'Back', uplifts_path %>
